footer{
    height: 130px;
    padding: 15px;
    background-color: var(--navbar-footer-color);
}

.site-logo{
        font-size: 1.5em;
}

.nav-link{
    color: var(--primary-color);
}
.nav-link:active {
    color: red; /* Replace with your desired color */
  }