<section class="feature-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center mt-5">
          <h2 class="text-white">Featured Post</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit vel adipisci optio accusantium, aut nihil nemo necessitatibus laboriosam reprehenderit nobis laborum earum ipsum magnam eveniet blanditiis harum hic minus maiores?</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-3">
          <app-postcard></app-postcard>
        </div>
        <div class="col-lg-3">
          <app-postcard></app-postcard>
        </div>
        <div class="col-lg-3">
          <app-postcard></app-postcard>
        </div>
        <div class="col-lg-3">
          <app-postcard></app-postcard>
        </div>
        
      </div>
    </div>
  </section>
  
  <section class="container mt-5">
    <div class="col-md-12 text-center">

        <h2>Latest Post</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt ratione impedit suscipit distinctio. Quia impedit vitae repellendus esse quasi!</p>
            <div class="row">
                <div class="col-md-4 mt-3">
                    <app-postcard></app-postcard>
                </div>
                <div class="col-md-4 mt-3">
                    <app-postcard></app-postcard>
                </div>
                <div class="col-md-4 mt-3">
                    <app-postcard></app-postcard>
                </div>
               
            </div>
    </div>

   </section>