.card{
    background-color: var(--secondary-color);
    margin-top: 20px;
}

input[type=text], input[type=email]{
    height: 40px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
    color: rebeccapurple;
}

.btn-sub{
    height: 40px;
    border: none;
    font-size: 13px;
    background-color: var( --primary-color);
    color: aliceblue;
}

.sub-text{
    width: 500px;
}