<div class="card shadow-effect">

<img src="https://images.pexels.com/photos/17117938/pexels-photo-17117938/free-photo-of-forest-and-mountains-at-dawn.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design</small>
        <small class="bg-light text-sucess text-center">Feature</small>
        <small class="bg-light text-info text-center"> views-100</small>

        <h5 class="mt-1"> card 1</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil molestiae doloremque animi nulla? Officia, rerum? Doloremque autem modi earum iusto veniam quaerat, voluptates explicabo. Esse voluptas possimus fuga dolores unde.</p>
        <small class="be-ligh text-info text-center ml-3"> last updated SEP 30, 2022</small>
    </div>
</div>